.card {
    /* width: 300px; 
    height: max-content; 
    box-shadow: 0 12px 12px -6px grey;
    border-radius: 5px; 
    background-color: rgb(40, 40, 40);
    color: white; 
    border: 1.5px solid limegreen; 
    padding: 10px;  */
}

.active-card {
    width: 300px; 
    height: max-content; 
    box-shadow: 0 12px 12px -6px grey;
    border-radius: 5px; 
    background-color: rgb(40, 40, 40);
    color: white; 
    border: 1.5px solid limegreen; 
    padding: 10px; 
}